#RewriteEngine On
#RewriteRule ^(.*)/(.*)$ index.php?controller=$1&method=$2
#RewriteRule ^(.*)/(.*)/(.*)$ index.php?controller=$1&method=$2&id=$3

#RewriteEngine On
#RewriteRule ^([^/]*)/([^/]*)$ /news/index.php?controller=$1&method=$2 [NC]
#RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /news/index.php?controller=$1&method=$2&id=$3 [NC]